In [10]:
import pandas as pd

In [11]:
# Assuming the file is in the same directory as your script
file_path = "ad_events.csv"

# Import the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Now you can work with your DataFrame 'df'
# For example, you can print the first few rows:
df.describe

<bound method NDFrame.describe of                                 customer           event  \
0       78afa995795e4d85b5d9ceeca43f5fef  offer received
1       a03223e636434f42ac4c3df47e8bac43  offer received
2       e2127556f4f64592b11af22de27a7932  offer received
3       8ec6ce2a7e7949b1bf142def7d0e0586  offer received
4       68617ca6246f4fbc85e91a2a49552598  offer received
...                                  ...             ...
306529  b3a1272bc9904337b331bf348c3e8c17     transaction
306530  68213b08d99a4ae1b0dcb72aebd9aa35     transaction
306531  a00058cf10334a308c68e7631c529907     transaction
306532  76ddbd6576844afe811f1a3c0fbb5bec     transaction
306533  c02b10e8752c4d8e9b73f918558531f7     transaction

                                              event_info  time
0       {'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}     0
1       {'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}     0
2       {'offer id': '2906b810c7d4411798c6938adc9daaa5'}     0
3       {'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}     0
4       {'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}     0
...                                                  ...   ...
306529                    {'amount': 1.5899999999999999}   714
306530                                  {'amount': 9.53}   714
306531                                  {'amount': 3.61}   714
306532                    {'amount': 3.5300000000000002}   714
306533                                  {'amount': 4.05}   714

[306534 rows x 4 columns]>

In [13]:
# Filter rows with 'transaction' in the 'event' column
transaction_rows = df[df['event'] == 'transaction']

# Extract the numbers from the 'event_info' column and compute the average
# Assuming the 'event_info' column contains numerical data separated by some delimiter (e.g., comma)
# Adjust this part according to the actual structure of your data
transaction_numbers = []
for info in transaction_rows['event_info']:
    numbers = [int(num) for num in info.split(',')]
    transaction_numbers.extend(numbers)

average_transaction = sum(transaction_numbers) / len(transaction_numbers)
print("Average transaction:", average_transaction)

ValueError: invalid literal for int() with base 10: "{'amount': 0.8300000000000001}"